
@import url("8-places.css");

section.places article div.amenities,
section.places article div.reviews {
    margin-top: 40px;
    width: 100%;
}

section.places article div.amenities h2,
section.places article div.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDD;
    text-align: left;
    padding-bottom: 10px;
}

section.places article div.amenities ul,
section.places article div.reviews ul {
    list-style: none;
}

section.places article div.amenities ul li,
section.places article div.reviews ul li {
    margin-left: -30px;
}

section.places article div.amenities ul li div.tv {
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_tv.png");
    height: 15px;
    width: 16px;
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    object-fit: cover;
}

section.places article div.amenities ul li div.pets {
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_pets.png");
    height: 15px;
    background-size: 17px;
    width: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

section.places article div.amenities ul li div.wifi {
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_wifi.png");
    height: 15px;
    width: 16px;
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    object-fit: cover;
}

section.places article div.amenities ul li p {
    display: inline-block;
    margin-bottom: 0;
}

section.places article div.reviews ul li h3 {
    font-size: 14px;
}

section.places article div.reviews ul li p {
    font-size: 12px;
}

@media(max-width: 320px) {
    section.places article {
        width: 305px;
    }
}