header .headerone{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom:1px solid #cccccc ;
}

div .logo{
    height: 100%;
 
    margin-left: 20px;
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
}

div .cont {
    height: 100%;
    width: 150px;
}